/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Ofrenda
      %small
        %li Home
        %li /
        %li Reportes
        %li /
        %li Ofrenda
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Reporte
              .widget-body
                %form#form_asistencia.form-horizontal{name: "form_asistencia", method: "post"}
                  .form-group
                    %label.col-lg-2.control-label{for: "servicio"} Servicio
                    .col-lg-2.col-sm-2
                      %select#servicio.form-control{name: "servicio"}
                  .form-group
                    %label.col-lg-2.control-label{for: "fecha1"} Fecha
                    .col-lg-10
                      .row
                        .col-lg-2.col-sm-2
                          %input#fecha1.datepicker.form-control{name: "fecha1", type: "text"}
                        %label.col-lg-1.col-sm-1.checkbox-inline{style:"text-align:center;"}
                          Al
                        .col-lg-2.col-sm-2
                          %input#anio.datepicker.form-control{name: "anio", type: "text"}
                        .col-lg-2.col-sm-2
                          %button#btnGenerar_asistencia.btn.btn-success{type: "button", name: "btnGenerar_asistencia"} 
                            Generar
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Reporte de Ofrendas
              %table#table_ofrendas.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                    %th Servicio
                    %th Turno
                    %th Monto
                %tbody
                  %tr
                    %td Reu de Jóvenes
                    %td 7:00 p.m.
                    %td 200
                  %tr
                    %td 
                    %th Total
                    %td 600
        .row
          .col-md-12.col-sm-12
            .widget
              %button#btnImprimir.btn.btn-default{type: "button", name: "btnImprimir"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Imprimir
              %button#btnReporte.btn.btn-success{type: "button", name: "btnReporte"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Reporte Excel

- content_for :bloquecss do
  = stylesheet_link_tag "datepicker/css/datepicker.css"
  = stylesheet_link_tag "mapa/jquery-gmaps-lation-picker"
  = stylesheet_link_tag "smooth/jquery-ui-1.8.16.custom"
  = stylesheet_link_tag "loader"
  = stylesheet_link_tag "successblock"
  = stylesheet_link_tag "jqueryvalidation/css/validationEngine.jquery.css"
- content_for :bloquejavascript do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
  = javascript_include_tag :configuracion
  :javascript
    $('##{$mactive} > span').addClass('current-arrow');