/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Datos Generales
      %small
        %li Home
        %li /
        %li Datos Generales
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget.no-margin
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Perfil de la Iglesia
        .widget-body
          .row
            .col-md-2.col-sm-3
              .thumbnail
                %img{alt: "300x200", src: "http://bit.ly/1dqW8yO"}/
            .col-md-10.col-sm-9
              %form.form-horizontal#form_iglesia{method: "post"}
                %h3.heading-a General
                .form-group
                  %label.col-sm-2.control-label{for: "fec_creacion"} Fecha de Creación
                  .col-sm-10
                    .row
                      .col-sm-5
                        %input#fec_creacion.form-control.datepicker{type: "text", name:"fec_creacion", value: ( @igle.nil? ? nil :  @igle.dat_iglesia_feccreacion ),class:"validate[required,custom[date]]"}
                      %label.col-sm-1.control-label{for: "telefono"} Teléfono
                      .col-sm-5
                        %input#telefono.form-control{type: "text", name: "telefono", value: ( @igle.nil? ? nil :  @igle.var_iglesia_telefono ) ,class:"validate[required,custom[phone]]"}
                .form-group
                  %label.col-sm-2.control-label{for: "nombre"} Nombre
                  .col-sm-10
                    .row
                      .col-sm-5
                        %input#nombre.form-control{type: "text", name:"nombre", value: ( @igle.nil? ? nil :  @igle.var_iglesia_nombre ),class:"validate[required]"}
                      %label.col-sm-1.control-label{for: "sigla"} Sigla
                      .col-sm-5
                        %input#sigla.form-control{type: "text", name: "sigla", value: ( @igle.nil? ? nil :  @igle.var_iglesia_siglas ),class:"validate[required]"}
                %h3.heading-a Pastores Principales
                .form-group
                  %label.col-sm-2.control-label{for: "psn1"} Ps. 1
                  .col-sm-10
                    =hidden_field_tag :psn_val1, ( @pas.nil? ? nil : @pas.first.persona.int_persona_id )
                    %input#psn1.form-control{type: "text", name: "psn1", value: ( @pas.nil? ? nil : @pas.first.persona.var_persona_nombres + ' ' + @pas.first.persona.var_persona_apellidos ) ,class:"validate[required]"}/
                .form-group
                  %label.col-sm-2.control-label{for: "psn2"} Ps. 2
                  .col-sm-10
                    = hidden_field_tag :psn_val2, ( @pas.nil?  ? nil : ( @pas.count ==2 ?  @pas.last.persona.int_persona_id : nil ) )
                    %input#psn2.form-control{type: "text", name: "psn2", value: ( @pas.nil?  ? nil : ( @pas.count == 2 ? @pas.last.persona.var_persona_nombres + ' ' + @pas.last.persona.var_persona_apellidos : nil ) )}/
                %h3.heading-a Ubicación
                .form-group
                  %label.col-lg-2.control-label{for: "departamento"} Departamento
                  .col-lg-10
                    .row
                      .col-lg-3.col-sm-3
                        %select#departamento.form-control{name: "departamento"}
                      %label.col-lg-1.col-sm-1.control-label Provincia
                      .col-lg-3.col-sm-3
                        %select#provincia.form-control{name: "provincia"}
                      %label.col-lg-1.col-sm-1.control-label Distrito
                      .col-lg-3.col-sm-3
                        %select#distrito.form-control{name: "distrito"}
                .form-group
                  %label.col-sm-2.control-label{for: "direccion"} Dirección
                  .col-sm-10
                    %input#direccion.form-control{type: "text", name: "direccion" , value: ( @igle.nil? ? nil :  @igle.var_iglesia_direccion ),class:"validate[required]"}/
                .form-group
                  %label.col-sm-2.control-label{for: "referencia"} Referencia
                  .col-sm-10
                    %textarea#referencia.form-control{cols: "30", name: "referencia", rows: "4", value: ( @igle.nil? ? nil :  @igle.var_iglesia_referencia )}
                .form-group
                  %label.col-sm-2.control-label{for: "referencia"} Mapa
                  .col-sm-10
                    %fieldset.gllpLatlonPicker
                      %div{:class=>'gllpMap'} Google Maps
                      = hidden_field_tag :latitud , ( @igle.nil? ? '-8.112489' :  @igle.dou_iglesia_latitud )  , :class=>'gllpLatitude'
                      = hidden_field_tag :longitud , ( @igle.nil? ? '-79.0288469' :  @igle.dou_iglesia_longitud ) , :class=>'gllpLongitude'
                      %input{:class=>'gllpZoom',:type => "hidden", :value=>'15'}

                - if @igle.nil?

                  = hidden_field_tag :ubi, nil
                - else
                  = hidden_field_tag :ubi, @igle.ubigeo.int_ubigeo_id
                  - @prov = Ubigeo.where(int_ubigeo_id: @igle.ubigeo.int_ubigeo_dependencia).take
                  - @dep = Ubigeo.find(@prov.int_ubigeo_dependencia)

                  = hidden_field_tag :dist, @igle.ubigeo.int_ubigeo_id
                  = hidden_field_tag :prov, @prov.int_ubigeo_id
                  = hidden_field_tag :dep, @dep.int_ubigeo_id
                  
                .form_submit.clearfix{style: ""}
                  .row
                    .col-sm-10.col-sm-offset-2
                      %button.btn.btn-primary.btn-lg#btnGuardar_iglesia Guardar
  / Row end
  #loader{style: "display:none"}
    = render "layouts/loader"
/ Dashboard wrapper end

- content_for :bloquejavascript do
  = javascript_include_tag "mapa/jquery-gmaps-lation-picker"
  = javascript_include_tag "jquery/jquery.ui.autocomplete.min"
  = javascript_include_tag "jquery/jquery.ui.core.min"
  = javascript_include_tag "jquery/jquery.ui.position.min"
  = javascript_include_tag "jquery/jquery.ui.widget.min"
  / custom Js
  = javascript_include_tag :iglesia