!!!
/[if lt IE 7]
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="es">
/[if IE 7]
  <html class="lt-ie9 lt-ie8" lang="es">
/[if IE 8]
  <html class="lt-ie9" lang="es">
/
  [if gt IE 8]>
  <!
%html{lang: "es"}
  /
    <![endif]
  %head
    %meta{charset: "utf-8"}/
    %title Ofrendas - AdminChurch
    %meta{content: "CLM Developers", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "Admin Church", name: "description"}/
    %meta{content: "Admin Chuch, CLM Developers, Administración Eclesiástica, Iglesia", name: "keywords"}/
    %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/html5-trunk.js"}
    %link{href: "http://dezmpdcyt21o2.cloudfront.net/css/icomoon/style.css", rel: "stylesheet"}/
    /[if lte IE 7]
      <script src="http://dezmpdcyt21o2.cloudfront.net/css/icomoon-font/lte-ie7.js"></script>
    / bootstrap css
    %link{href: "http://dezmpdcyt21o2.cloudfront.net/css/bootstrap.css", rel: "stylesheet"}/
    / custom css
    = stylesheet_link_tag "http://dezmpdcyt21o2.cloudfront.net/css/main.css"
    = stylesheet_link_tag "http://dezmpdcyt21o2.cloudfront.net/css/datepicker/css/datepicker.css"
    = stylesheet_link_tag "http://dezmpdcyt21o2.cloudfront.net/css/jqueryvalidation/css/validationEngine.jquery.css"    
    = stylesheet_link_tag "http://dezmpdcyt21o2.cloudfront.net/css/loader.css.scss"
    = stylesheet_link_tag "http://dezmpdcyt21o2.cloudfront.net/css/successblock.css.scss"
  %body
    / Header start
    %header
      / Logo start
      .logo
        = image_tag('http://dezmpdcyt21o2.cloudfront.net/img/logo-ac-103.png', alt: "Admin Church", style: "border-bottom: 1px solid #383838;") 
      / Logo end
      / Optional Dropdown start
      #optional-dropdown
        %ul
          %li
            %a{href: "index.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
      / Optional Dropdown end
      / Mini navigation start
      #mini-nav
        %ul
          %li.hidden-sm
            %a{href: "mail.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
          %li
            %a{href: "login.html"}
              %span.text-label Mr. John
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            %ul.user-summary
              %li
                .summary
                  .user-pic
                    %img{alt: "Slick Admin", src: "http://dezmpdcyt21o2.cloudfront.net/img/avatar-1.png"}/
                  .basic-details
                    %h4.no-margin Johnny
                    %h5.no-margin UX Designer
                    %small Garabandha, India
                  .profile-progress
                    .chart-progress{"data-percent" => "68"}
                      68%
                  .clearfix
              %li
                %button.btn.btn-xs.btn-danger.pull-right{onclick: "location.href='login.html'"} Logout
                %span.clearfix
      / Mini navigation end
    / Header end
    / Main Container start
    .main-container
      / Mian navigation start
      #mainnav
        %ul
          %li
            %a{href: persona_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Persona
          %li
            %a{href: diezmos_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Diezmos
          %li
            %span.current-arrow
            %a{href: ofrendas_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Ofrendas
          %li
            %a{href: asistencia_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Asistencia
          %li
            %a{href: "charts.html"}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Información
            %ul
              %li
                %a{href: dashboard_asistencia_path} Asistencia
              %li
                %a{href: dashboard_diezmo_path} Diezmos
              %li
                %a{href: dashboard_ofrenda_path} Ofrendas
              %li
                %a{href: dashboard_membresia_path} Miembros/Visitantes
          %li
            %a{href: "charts.html"}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Reportes
            %ul
              %li
                %a{href: reporte_asistencia_path} Asistencia
              %li
                %a{href: reporte_diezmo_path} Diezmos
              %li
                %a{href: reporte_ofrenda_path} Ofrendas
              %li
                %a{href: reporte_membresia_path} Miembros/Visitantes
          %li
            %a{href: "#"}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Configuración
            %ul
              %li
                %a{href: configuracion_datos_generales_path} Datos Generales
              %li
                %a{href: configuracion_lugar_path} Lugar
              %li
                %a{href: configuracion_usuario_path} Usuarios
              %li
                %a{href: configuracion_servicios_path} Servicios
      / Mian navigation end
      = yield
      / Dashboard wrapper end
    / Main Container end
    / Scripts
  %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/jquery.min.js"}
  %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/bootstrap.js"}
  %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/jquery-ui-1.8.23.custom.min.js"}
  / Easy pie charts 
  %script{src:"http://dezmpdcyt21o2.cloudfront.net/js/jquery.easy-pie-chart.js"}
  / Sparkline JS
  %script{src:"http://dezmpdcyt21o2.cloudfront.net/js/jquery.sparkline.js"}
  / Data tables
  %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/jquery.dataTables.js"}
  / Custom Js
  %script{src: "http://dezmpdcyt21o2.cloudfront.net/js/custom-tables.js"}

  %script{src: "http://malsup.github.io/jquery.blockUI.js"}

  :javascript
    urlES = "/dt_ES.txt"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/util/functiongen.js"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/util/datatable_plugins.js"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/jqueryvalidation/languages/jquery.validationEngine-es.js"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/jqueryvalidation/jquery.validationEngine.js"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/datepicker/js/bootstrap-datepicker.js"
  = javascript_include_tag "http://dezmpdcyt21o2.cloudfront.net/js/custom.js"
  = javascript_include_tag :ofrendas
